[Unit]
Description=snmpsim gunicorn mgmt
After=network.target

[Service]
ExecStart=/opt/snmpsim/venv/bin/gunicorn -b "127.0.0.1:8000" \
  --env "SNMPSIM_MGMT_CONFIG=/opt/snmpsim/etc/snmpsim-management.conf" \
  --access-logfile /opt/snmpsim/log/mgmt-access.log \
  --error-logfile  /opt/snmpsim/log/mgmt-error.log  \
  snmpsim_control_plane.wsgi.management:app

Restart=on-failure
User=snmpsim

[Install]
WantedBy=multi-user.target
